# Atividades com Dataset

>Importação da biblioteca pandas para manipular o dataset

In [1]:
import pandas as pd

>Importação, abertura e exibição parcial do dataset

In [2]:
atletas = pd.read_csv('C:/Users/Karla/Documents/Marcio/Datasets/athlete_events.csv')

In [3]:
atletas.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

>Média de idade dos atletas

In [4]:
atletas['Age'].mean()

25.556898357297374

>Médias da altura e peso dos atletas

In [5]:
atletas[['Height','Weight']].mean()

Height    175.338970
Weight     70.702393
dtype: float64

>Agregação de máximo, mínimo e média de idades, alturas e pesos

In [7]:
atletas.agg({'Age':['max','min','mean'],'Height':['max','min','mean'],'Weight':['max','min','mean']})

            Age     Height      Weight
max   97.000000  226.00000  214.000000
min   10.000000  127.00000   25.000000
mean  25.556898  175.33897   70.702393

>Agrupamento por sexo com médias das idades

In [8]:
atletas[['Sex','Age']].groupby('Sex').mean()

           Age
Sex
F    23.732881
M    26.277562

>Outra forma de Agrupamento por sexo com médias das idades

In [9]:
atletas.groupby('Sex')['Age'].mean()

Sex
F    23.732881
M    26.277562
Name: Age, dtype: float64

>Agrupamento por categorias e cálculo de média de idade

In [10]:
atletas.groupby(['Sex','Medal'])['Age'].mean()

Sex  Medal
F    Bronze    24.708743
     Gold      24.372596
     Silver    24.444891
M    Bronze    26.355729
     Gold      26.504641
     Silver    26.633194
Name: Age, dtype: float64

>Total de atletas masculinos e femininos

In [11]:
atletas['Sex'].value_counts()

M    196594
F     74522
Name: Sex, dtype: int64